@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: #0f3a55;
  --secondary-color: #dcebf5;
  --third-color: #a0c3d9;
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}

/*------------ header and footer css ------------*/

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 12rem;
  align-items: center;
  padding: 0 5px;
  background-color: var(--primary-color);
}

header img{
  width: 60%;
}

.icons {
  display: flex;
}

.Headericon {
  width: 40%;
}

footer {
  display: flex;
  align-items: center;
  justify-content:  space-evenly;
  gap: 15rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer img {
  width: 50%;
}

/*------------ The icons on the home page ------------ */
.filterIcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 15rem;
}

/*------------Hero CSS ------------*/
h1 {
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
}

.hero img {
  width: 75%;
}
 .info{
  margin: 0 10rem;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: solid 3px var(--third-color);
}



.recipeDetails button:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/*------------ RECIPE LISTING STYLE ------------*/

.recipe-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 5px 5px 5px 1px rgba(160, 195, 217, 0.5);
  color: var(--primary-color);
  width: 20%;
  margin: 1rem;
}
.recipe-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.recipe-card a {
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.titleName h1 {
  font-size: 32px;
}

@media (max-width: 700px) {
  .recipe-list {
    list-style-type: none;
    display: block;
  }

  .recipe-card {
    width:  80%;
    margin: 1rem;
  }

  .recipe-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
}

/*------- FOR THE RECIPE DETAILS  -----------*/
.recipeDetIMG {
  display: flex;
  justify-content: center;
}

.recipeIMG {
  width: 700px;
  height: 500px;
  object-fit: cover;
  margin: 2rem;
}

.recipeDetails {
  margin: 0 4rem;
  color: var(--primary-color);
  font-size: 24px;
}

.recipeDetails button {
  border: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1rem;
  font-weight: 300;
  font-size: 32px;
  text-decoration: underline;
  
  margin: 2rem;
}
button:hover{
  animation: wiggle 2s linear infinite;
}
.recipeDetails h1 {
  font-size: 38px;
}

.recipeDetails a {
  color: var(--primary-color);
}

.recipeDetails a:hover {
  color: var(--third-color);
}

.nutrition,
.recipeDetails h2 {
  border-bottom: solid 4px var(--third-color);
}

.recipeDetails ol {
  background-color: var(--secondary-color);
  padding: 1rem 3rem;
}

.recipeDetails h2 {
  padding-bottom: 1rem;
  width: 20rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}


.filter{
  padding: 1rem;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.filter:hover{
  background-image: linear-gradient(to right, var(--third-color),  var(--primary-color));
}

.filterBtns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/*---------- WEATHER SECTION ----------*/

.weather{
  box-shadow: 5px 5px 5px 1px rgba(160, 195, 217, 0.5);
  border-radius: 30px;
  padding: 2rem;
  margin-top: -6rem;
  background-color: white;

}

.weath{
    display: flex;
    gap: 3rem;
  align-items: center;
  }

.weather h4{
  text-align: center;
  font-size: 24px;
  margin: 0 0 1rem 0;
}

.weatherLeft h5{
  font-size: 42px;
  margin: 0;
  text-align: center;
}

.weatherDesc{
  display: flex;
  justify-content: center;
}
.weatherDesc img{
  object-fit: contain;
}

.weatherLeft p{
  font-size: 14px;
}

.weatherDesc p{
  font-size: 20px;
}


.weatherLeft{
  border-right: solid 4px var(--third-color);
  padding-right: 1rem;
}

.weatherRight p{
  font-size: 16px;
}


.backArrow span{
  font-size: 48px;
  color: var(--primary-color);
}

.backArrow span:hover{
  animation: spin .5s linear 1;
}

.delete{
  background-color: transparent;
  border:none;
}

.delete span{
  font-size: 42px;
}







@keyframes spin{
  to{
    transform: rotate(0);
  }
  from{
    transform: rotate(360deg);
  }
}


@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}